/*castom properties*/
:root {
	--basic-white: #ffffff;
	--basic-black: #000000;
	--button-red-new: #EE3643;
	--make-order: #63A63E;
	--upline-header: #293449;
	--middle-line-header: #F1F5F7;
	--nav-line-header: #32425C;
	--materials: #FFBF47;
	--tools: #3BBCE3;
	--technic: #DC91D8;
	--sales: #8ED78F;
	--delivery: #FFC047;
	--popular: #F9F5F0;
	--button-services: #32425C;
	--upline-footer: #32425C;
	--downline-footer: #293449;
	--circle-networks: #212A3A;
	--background-services: #F1F5F7;
	--text-contact-header: #EE3643;
	--text-old-price: #A9A9A9;
	--text-popular: #32425C;
	--text-delivery-guarantee-credit-services: #32425C;
	--text-nav-footer: #F1F5F7;
	--text-nav-footer-services: #FFD180;
	--text-adrees-footer: #F3F7F9;
	--logo-active:#BA2732;
	--login-active:#C5C5C5;
	--button-hover:#CA2C37;
	--button-active:#BA2732;
	--to-buy-hover:#5FBB2D;
	--to-buy-active:#518534;
}

/*fonts*/
@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff"),
		url("../fonts/cuprum.woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumbold.woff"),
		url("../fonts/cuprumbold.woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumitalic.woff"),
		url("../fonts/cuprumitalic.woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff"),
		url("../fonts/ptsans.woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsansbold.woff"),
		url("../fonts/ptsansbold.woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Arial";
	src: url("../fonts/arial.woff"),
		url("../fonts/arial.woff2")
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}

/*header*/
.upline-header-nav {
	color: var(--basic-white);
	text-decoration: none;
}

.upline-header-nav:active {
	color: rgba(255, 255, 255, 0.5);
}

.input-search {
	background-color: var(--upline-header); 
}


.upline-header {
	background-color: var(--upline-header);
}

.link-main-logo {
	background-color: var(--button-red-new);
}

.link-main-logo:active {
	background-color: var(--logo-active);
}

.make-order {
	background-color: var(--make-order);
}

.middleline-header {
	background-color: var(--middle-line-header)
}

.description {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: var(--text-contact-header);
}

.phone {
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	color: var(--text-contact-header);
}

.adress {
	font-size: 14px;
	line-height: 24px;
	color: var(--text-popular);
}

.nav-header {
	background-color: var(--nav-line-header);
}

.site-navigation {
	list-style: none;
}

.button-site-navigation {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	text-decoration: none;
}

.button-site-navigation:hover {
	background-color: var(--upline-header);
}

.button-site-navigation:active {
	opacity: 0.5;
}


/*offers*/

.offers {
	list-style: none;
}

.title-offers {
	font-weight: 700;
	font-size: 34px;
	line-height: 30px;
	color: var(--basic-white);
}

.materials {
	background-color: var(--materials);
}

.tools {
	background-color: var(--tools);
}

.technic {
	background-color: var(--technic);
}

.sales {
	background-color: var(--sales);
}

.delivery-offers {
	background-color: var(--delivery);
}

.for-offers {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-white); 
	text-decoration: none;
	background: rgba(0, 0, 0, 0.25);
	mix-blend-mode: normal;
	
}

.for-offers:hover {
	background: #C5C5C5;
	mix-blend-mode: normal;
	opacity: 0.3;
}

.for-offers:active {
	background: #A9A9A9;
	mix-blend-mode: normal;
	opacity: 0.3;
}
/*all red buttons*/

.button {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: var(--basic-white);
	background-color: var(--button-red-new);
	text-transform: uppercase;
	padding: 0;
  	border: none;
}

.button:hover {
	background-color: var(--button-hover);
}

.button:active {
	background-color: var(--button-active);
}

/*img man with tool*/

.title-tools {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-white);
}

.description-tools {
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}

/*all title popular*/
.title {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: var(--nav-line-header);
	text-transform: uppercase;
}

/*img tools bosch*/

.products-list {
	list-style: none;
}

.name-product {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: var(--basic-black);
	text-decoration: none;
}

.old-price {
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: var(--text-old-price);	
}

.new {
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	background-color: var(--button-red-new);
}

.price {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: var(--basic-white);
	background-color: var(--button-red-new);
}

.to-buy {
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	text-decoration: none;
	background-color: var(--make-order);
}

.to-buy:hover {
	background: var(--to-buy-hover);
	box-shadow: inset 0px -3px 0px #367315;
	border-radius: 2px;
}

.to-buy:active {
	background-color: var(--to-buy-active);
}

.to-marker {
	font-size: 14px;
	line-height: 18px;
	color: var(--nav-line-header);
	text-decoration: none;
	border: 3px solid #63A63E;
}

.to-marker:hover {
	border: 3px solid #32425C;
}

.to-marker:active {
	opacity: 0.3;
}

/*services*/
.main-title-services {
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-black);
}

.description-services {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);
}

.description-text-block {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);
}

.points-services {
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-white);
	background-color: var(--nav-line-header);
	list-style: none;
}

.points-services:hover {
	background-color: var(--upline-header);	
}

.points-services:visited {
	color: var(--nav-line-header);
	background-color: var(--basic-white)
}

.manufacturer {
	list-style: none;
}

.manufacturer li:disabled {
	opacity: 0.4;
}

.main-manufacturers {
	list-style: none;
}

.manufacturers {
	border: 1px solid #EAEAEA;
}

.manufacturers:hover {
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturers:active {
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
	opacity: 0.5;
}

.services {
	background-color: var(--background-services);
}

/*contacts*/
.title-services {
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-black);
}

.title-text-block {
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-black);
}

.delivery-companies {
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-black);
	list-style: none;
}

/*footer*/
.logo-footer {
	background-color: var(--button-red-new);
}

.nav-footer {
	background-color: var(--upline-footer);
}

.nav-button-footer {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: var(--text-nav-footer);
	text-decoration: none;
}

.nav-button-footer:hover {
	background-color: var(--upline-header);
}

.nav-button-footer:active {
	opacity: 0.5;
}

.site-navigation-footer {
	list-style: none;
}

.adress-footer {
	font-size: 18px;
	line-height: 24px;
	color: var(--text-adrees-footer);
}

.nav-footer-services {
	font-size: 18px;
	line-height: 24px;
	color: var(--text-nav-footer-services);
	text-decoration: none;
	background-color: var(--upline-footer);
}

.nav-footer-services:hover {
	text-decoration: underline;
	text-decoration-color: var (--text-nav-footer-services);
}

.nav-footer-services:active {
	opacity: 0.5;
}

.footer-services {
	list-style: none;
}

.footer-down-line {
	background-color: var(--downline-footer);
}

.copywrite {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.email {
	font-size: 16px;
	line-height: 18px;
	color: var(--text-nav-footer-services);
	text-decoration: none;
}

.email:hover {
	text-decoration: underline;
}

.email:active {
	text-decoration: none;
	color: var(--button-red-new);
}

.networks {
	list-style: none;
}

/*login form*/
.login-enter {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-black);
}

.hidden-login-enter {
	font-size: 13px;
	line-height: 24px;
	color: var(--text-old-price);
}

/*catalog*/

.login-header {
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	text-decoration: none;
}

.login-header:hover {
	color: var(--button-red-new);
}


.login-header:active {
	color: var(--login-active);
}


.login-name {
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	text-decoration: none;
}

.login-name:active {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: var(--login-active);
}



.breadcrumbs-link {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	text-decoration:none;
	list-style: none;
}


.title-catalog {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	text-decoration: underline;
	text-decoration-style: dotted;
	list-style: none;
}

.title-catalog-filter {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	text-decoration:none;
	list-style: none;
}


.filter-active {
	color: var(--button-red-new);
}

.filter {
	opacity: 0.3;
}

.title-catalog:hover {
	color: var(--basic-black);
	opacity: 1;
	text-decoration: underline;
	text-decoration-color: var(--button-red-new);
}

.title-catalog:active {
	color: var(--button-red-new);
	text-decoration: none;
}

.checkbox {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
	color: var(--basic-black);
}

.range {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: var(--basic-black);
}

input[type="checkbox"] + label {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 19px;
	color: var(--basic-black);
}

input[type="radio"] + label {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 19px;
	color: var(--basic-black);
}

.filter-button {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	border: 1px solid #E5E5E5;
	list-style: none;
	text-decoration: none;
}

.pagenavi {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	border: 1px solid #E5E5E5;
	list-style: none;
}

.pagenavi-link {
	text-decoration: none;
}

.pagenavi:active {
	border: 1px solid #EE3643;
}

.current-page:visited {
	background-color: var(--button-red-new);
}
